@mixin arrow() {
    padding: 5px 0px 0px 2px;
    color: #bab8b9;
    font-size: 20px;
}

@mixin replaceLang__item () {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.replaceLang {
    display: flex;
    font-size: 18px;
    margin: 20px 20px 0px 20px;
    max-width: 1055px;

    .replaceLang__allLang-map {
        position: absolute;
        right: -22px;
        top: 30px;
        border: 1px solid #bab8b9;
        background: white;
        padding: 5px;
        border-radius: 5px;
    }

    .replaceLang__first {
        @include replaceLang__item;
        width: 48.6%;

        .replaceLang__lang1 {
            cursor: pointer;
            display: flex;
            margin-right: 10px;
            justify-content: flex-end;
            width: 100px;

            .replaceLang__arrow-down {
                @include arrow
            }
        }
    }

    .setLang {
        display: flex;
        justify-content: center;
        padding: 5px 4px 0px 0px;
        font-size: 24px;
        color: #00ab5b;
        cursor: pointer;
    }

    .replaceLang__last {
        @include replaceLang__item;

        .replaceLang__lang2 {
            cursor: pointer;
            display: flex;
            margin-left: 10px;
            justify-content: flex-start;

            .replaceLang__arrow-down {
                @include arrow
            }
        }
    }
}